@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;  }

  .button1 {
    margin-top: 80px;
    background-color: #F0D389; 
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 50px;
    width: 400px;
    height: 280px;

  }
  .button2 {
    background-color: #85C77F; 
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 50px;
    width: 400px;
    height: 280px;
    margin-top: -80px;
  }
  .button3 {
    background-color: #8BC6DC; 
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 50px;
    width: 400px;
    height: 280px;
    margin-top: -80px;

  }
  .button4 {
    background-color: #E77682; 
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 50px;
    width: 400px;
    height: 280px;
    margin-top: -80px;
    position: relative;
    left: 50%;
    transform: translate(100%, 0)

  }
  .button h1 {
    font-size: 40px;
    line-height: 1.2;
    text-align: left;
    transition: .3s;
    color: #ffffff;
  }
  .button h2 {
    font-size: 15px;
    line-height: 1.2;
    text-align: left;
    transition: .3s;
    color: #ffffff;
  }

.button h1:hover,
.button h1.active{
    color: #181938;

}
.button p:hover,
.button p.active{
    color: #707072;

}
.button p {
    font-size: 50px;
    line-height: 1.2;
    text-align: center;
    color: rgb(32, 29, 44);
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background-color: #ffc401;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.navbar a {
    font-size: 18px;
    color: #986428;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;

}
.navbar a:hover,
.navbar a.active{
    color: #181938;
}
.logo {
    position: relative;
    font-size: 25px;
    color:#181938;
    text-decoration: none;
    font-weight: 600;

}
